// Inner pages
.logo-default {
    height: 18px;
}

.cms_hint {
    text-align: right;
    font-size: smaller;
}

#header_home_bar {
    width: 49px;
}

.page-breadcrumb.breadcrumb {
    margin-bottom: 15px;
}

// Login page
body.login {
    .logo {
        a {
            img {
                height: 17px;
            }
        }
    }
}